<div class="col-xs-12 col-sm-12 p-a-0">
  <form name="comment-form" ng-submit="saveComment()">
  <!-- Screen Name -->
    <div>
      <label>Screen name</label>
      <div>
        <input type="text" ng-model="screen_name">
      </div>    
    </div>
   <!-- Target state -->
   <!--  <div>
      <label>Target state</label>
      <div class="p-a-1">
       <select name="workflow_state" ng-model="workflow_state">
        <option value="draft">Draft</option>
        <option value="review">Review</option>
        <option value="approved">Approved</option>
      </select>
      </div>    
    </div>  -->
    <label>Your Comment</label><br/>
    <div class="col-xs-12 col-sm-12 p-a-0">
      <textarea rows="4" cols="71" ng-model="comment" required></textarea><br/>
    </div>
    <div class="p-a-1 pull-left">
      <button type="submit" class="btn btn-xs btn-warning pull-right comment-btn">SAVE</button>
    </div>
  </form>
</div>