<div class="vcenter nopadding col-sm-12 fullheight" ng-if="haspermission">
    <div class="col-sm-4 hcenter loginForm">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Installation Form</h3>
            </div>
            <div class="panel-body">
                <form ng-submit="installation()" name="loginForm" class="col-sm-12">
                    <div class="form-group col-xs-12 nopadding">
                        <label class="col-xs-12 nopadding">Username</label>
                        <div class="col-xs-12 nopadding">
                            <input type="text" ng-model="user.local.username" placeholder="Username" tabindex="1" required autofocus class="form-control">
                        </div>
                    </div>
                    <div class="form-group col-xs-12 nopadding">
                        <label class="col-xs-12 nopadding">Email</label>
                        <div class="col-xs-12 nopadding">
                            <input type="email" ng-model="user.local.email" placeholder="Email" tabindex="1" required autofocus class="form-control">
                        </div>
                    </div>

                    <div class="form-group col-xs-12 nopadding">
                        <label class="col-xs-12 nopadding">Password</label>
                        <div class="col-xs-12 nopadding">
                            <input type="password" ng-model="user.local.password" placeholder="Type your password" tabindex="3" required class="form-control">
                        </div>
                    </div>
                    
                    <div class="form-group col-xs-12 nopadding">
                        <label class="col-xs-12 nopadding">Confirm Password</label>
                        <div class="col-xs-12 nopadding">
                            <input type="password" ng-model="user.local.confirm" placeholder="Confirm your password" tabindex="3" required class="form-control">
                        </div>
                    </div>

                    <div class="error" ng-show="error" >{{error}}</div>
                    <div class="col-xs-12 nopadding text-center">
                        <input type="submit" class="btn btn-primary" value="Start Installation">
                    </div>
                </form>
            </div>
        </div>
    </div>