<div class="col-xs-12 col-sm-9 p-a-1 bg-white">
<h2>User account</h2>
<ul class="nav nav-tabs">
  <li><a data-toggle="tab" href="#register" class="text-b">Create new account</a></li>
  <li class="active"><a data-toggle="tab" href="#login" class="text-b">Log in</a></li>
  <li><a data-toggle="tab" href="#password" class="text-b">Request new password</a></li>
</ul>
<div class="tab-content col-xs-12">
  <div id="login" class="tab-pane fade in active">
    <h3>Log In 1</h3>
    <form role="form" ng-submit="login()" name="loginForm">
      <div class="form-group">
        <label for="email">Username or e-mail address *:</label>
        <input type="text" class="form-control" ng-model="user.username" id="email" placeholder="Username or e-mail address">
        <h6>You may <b>login</b> with your <b>e-mail address</b> or your assigned username.</h6>
      </div>
      <div class="form-group">
        <label for="pwd">Password *:</label>
        <input type="password" class="form-control" ng-model="user.password" id="pwd" placeholder="Password">
        <h6>The password field is case sensitive.</h6>
      </div>
      <div class="checkbox">
        <label><input type="checkbox"> Remember me</label>
      </div>
      <button type="submit" class="btn btn-default">Log In</button>
    </form>
  </div>
  <div id="password" class="tab-pane fade">
    <h3>Request new password</h3>
    <form role="form" ng-submit="forgotPassword()" name="forgotpassword">
      <div class="form-group">
        <label for="email">Username or e-mail address *:</label>
        <input type="email" ng-model="user.email" class="form-control" id="email" placeholder="Username or e-mail address">
      </div>
       <div class="error" ng-show="error" >{{error}}</div>
      <button type="submit" class="btn btn-default">E-mail new password</button>
    </form>
  </div>
</div>